extends layout

block content
  script(src='/javascripts/lib/underscore.js')
  script(src='/javascripts/lib/underscore-contrib.min.js')
  script(src='/javascripts/lib/jquery-2.1.1.min.js')
  script(src='/javascripts/bunbun-basic.js')
  script(src='/socket.io/socket.io.js')
  script(src='/javascripts/bunbun-worker.js')
  script(src='/javascripts/bunbun-client.js')
  body
    h1= title
    p #{title}

    h2 State
      label#state
    h2 Task
    textarea#task= defaultTask
    button#test test
    button#start start
    h2 Result
      label#result
